# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit binary files
*.jpg binary
*.jpeg binary
*.png binary
*.svg text
*.mp4 binary
*.woff2 binary
*.otf binary
*.ttf binary
